In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data Reading

In [2]:
users = pd.read_csv('../csv files/user_det.csv')
books = pd.read_csv('../csv files/books.csv')
ratings = pd.read_csv('../csv files/ratings.csv')

/tmp/ipykernel_9347/3671207567.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('../csv files/books.csv')

## User Data

In [3]:
print(users.shape)
users.head()

(1000, 7)

,user_id,username,name,email,password,gender,age
0,id14AP202307k8L,user1000,name1000,user1000@abc.org,$2b$12$Qgw6.RN8N81nW6pcsTkp2.biAlc5exDdduZRlLT...,1,29
1,id14AP202309DUE,user749,name749,user749@abc.org,$2b$12$poiTdTL7qhWKOU4lbbxXLuX0QIeD9tjLjuU.RvX...,1,43
2,id14AP202309NMi,user912,name912,user912@abc.org,$2b$12$TB3X1oLjnsRUUAdKhgILgeqTUyl6NrGaH295zyt...,2,30
3,id14AP20230Azwt,user973,name973,user973@abc.org,$2b$12$UQBAuSvQbWO0uB1eRxh3keei8XKhlp6PqHpS3eA...,2,41
4,id14AP20230cjAT,user355,name355,user355@abc.org,$2b$12$O8inHMGcubrkk.xdeR5pcuFXL9eSCrCn6FBbXS0...,1,19

## Books Data

In [4]:
print(books.shape)
books.head()

(271360, 8)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

## Ratings Data

In [6]:
print(ratings.shape)
ratings

(1149780, 3)

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

# Data Preprocession

## Convert all the '*User-ID*'s in '*ratings.csv*' with the user ids from the database.
This code is optional.

In [20]:
updated_ratings = ratings.drop('User-ID', axis=1).copy()
updated_ratings.insert(loc=0, column='User-ID',
                       value=np.random.choice(users["user_id"], size=len(updated_ratings)))
updated_ratings.to_csv('../csv files/updated_ratings.csv', index=False)

## Calculate if the dataset has any NULL values.

In [35]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [36]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [37]:
users.isnull().sum()

user_id     0
username    0
name        0
email       0
password    0
gender      0
age         0
dtype: int64

## Calculate the number of duplicate entries in the dataset.

In [38]:
books.duplicated().sum()

0

In [39]:
ratings.duplicated().sum()

0

In [40]:
users.duplicated().sum()

0

# Processing the ratings